@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    box-sizing: initial;
    border-width: initial;
    border-style: initial;
    border-color: initial;
}
html,body ,#root{
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}