@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    box-sizing: initial;
    border-width: initial;
    border-style: initial;
    border-color: initial;
}
html,body ,#root{
    height: 100vh;
    background-color: rgba(0,0,0, 0.4);
}

#root {
    display: flex;
    flex-direction: column;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}